# Ignore node_modules
node_modules/

# Ignore build and temporary files
ios/build/
android/build/
*.log

# Ignore Metro bundler cache
.metro/

# Ignore React Native specific temporary files
*.xcworkspace

# Project specific ignores
*.json
